@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body{
    text-align: center;
    background: linear-gradient(to bottom, #6ab7f5, #fff);
    min-height: 100vh;
}

main {
    display: inline-block;
    margin: 2%;
    padding: 10px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 425px;
}

.pokemon{
    position:absolute;
    bottom: 52.5%;
    left: 30%;
    transform: translateX(-63%, 20%);
    height: 18%;
    transition: filter 0.5s ease-in-out; 
}   

/* filtro para a silhueta */
.pokemon.silhouette {
    filter: brightness(0); 
    user-select: none; 
}

.pokemon_data {
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 54.5%;
    right: 27%;
    font-size: clamp(8px,5vw,16px);
}
.pokemon_name {
    color: #3a444d;
    text-transform: capitalize;
}

.form{
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.input_search{
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px,4vw,1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;

}

/* Contador de vidas */
.lives-counter {
    position: absolute;
    top: 10%;
    left: 70%;
    transform: translateX(-50%);
    font-size: 1.1rem;
    font-weight: 700;
    color: #d9534f; 
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 5px;
    /* border: 2px solid #3a444d; */
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.lives-counter span {
    color: #3a444d;
}

#mute-button {
    position: fixed;
    top: 3%;
    right: 3%;
    z-index: 100;
    cursor: pointer;
    min-width: 7%;
    border: 2px solid #000;
    background-color: #fff;
    font-size: 1.5rem;
    border-radius: 5px;
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

#mute-button:active {
    box-shadow: inset -4px 4px 0 #222;
}

